/* For Tooltip */

.tooltip {
    position: absolute;
    padding: 7px;
    font-size: 26px;
    font-family: 'Open Sans' sans-serif;
    pointer-events: none;
    background: rgb(208, 99, 99);
    border: 1px solid #ccc;
    border-radius: 4px;
    opacity: 0;
  
    -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  }

  
  
  .tooltip p {
    margin: 0;
    padding: 0;
  }
  
  .tooltip table {
    margin: 10;
    padding: 0;
    border-collapse: collapse;
  }
  
  
  
  /* For Bar Chart */
  .tooltip{
    position: absolute;
}
#svg-area{
    position: relative;
}
  rect:hover{
    fill: #7adb19;
    transition: 0.5s all ease-in;
  }